@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
   background-image: url(image/ryan-concepcion-50KffXbjIOg-unsplash.jpg);
}   


.container {
    margin: 0 auto;
    max-width: 1600px;
}

.IMG, .prices {
    text-align: center;
}

.header {
    width: 100%;
    height: 70px;
    background-color: black;
    color: aliceblue;
    font-size: 30px;
    font-family: 'Russo One', sans-serif;
    text-align: center;
    padding: 15px;
    margin: 0 auto;

}

.IMG {
    width: 100%;
    height: 300px;
    border-radius: 15px;
    display: inline-block;
    margin-top: 100px;
}

.imga {
    width: 30%;
    height: 300px;
    border-radius: 15px;
    border: 2px solid black;
    background-color: rgba(240, 248, 255, 0.589);
    display: inline-block;
    font-size: 20px;
}

.prices {
    width: 100%;
    height: 100px;
    border-radius: 15px;
    display: inline-block;

}

.price {
    width: 30%;
    height: 100px;
    border-radius: 15px;
    border: 2px solid black;
    background-color: rgba(129, 128, 120, 0.801);
    display: inline-block;
    font-size: 30px;
    font-family: 'Russo One', sans-serif;
    padding: 30px;
    margin-top: 5px;
}

.imga img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 3px solid rgba(238, 207, 68, 0.425);
}


@media screen and (max-width: 300px) {
    .container {
        width: 100%;
    }

    .imga {
        width: 30%;
    }

    .price {
        width: 30%;
        font-size: 20px;
        padding: 25px;
    }
}



@media screen and (max-width: 400px) {
    .container {
        width: 100%;
    }

    .imga {
        width: 30%;
    }

    .price {
        width: 30%;
        font-size: 20px;
        padding: 25px;
    }
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
    }

    .imga {
        width: 30%;
    }

    .price {
        width: 30%;
        font-size: 20px;
        padding: 25px;
    }
}


@media screen and (max-width: 800px) {
    .container {
        width: 100%;
    }

    .imga {
        width: 30%;
    }

    .price {
        width: 30%;
        font-size: 20px;
        padding: 25px;
    }
}